<mat-toolbar color="primary">
  <span>Title</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-space"></span>

  <div>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <!-- <mat-icon>more_vert</mat-icon> {{'menu' | translate }} -->
    </button>
  </div>

</mat-toolbar>

<app-city-form (submit)="addCity($event, 'viewChildren')"></app-city-form>

<app-city-cards [newCity]="newCity" [citiesFromParent]="allCities"></app-city-cards>